@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@300;500&family=Playball&family=Poppins:wght@500&display=swap');
body{
    background-color: #1c2424;
    color: white;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }